<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SeleniumAutomationSuite" verbose="1">
    <test name="Chrome Tests" preserve-order="true">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.abp.tests.RegistrationTests"/>
            <class name="com.abp.tests.LoginTests"/>
        </classes>
    </test>
    
    <test name="Firefox Tests" preserve-order="true">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.abp.tests.RegistrationTests"/>
            <class name="com.abp.tests.LoginTests"/>
        </classes>
    </test>
</suite>
